/*DEFAULT SETTING*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*UTILITIES*/

.evidence{
    color: white;
}

.download{
    color: #7d7d7d;
}

.jd{
    margin-top: 15px;
}

/*QUERY*/

@media screen and (min-width: 1100px) {}



body{
    display: flex;
    flex-direction: column;
}

section{
    display: flex;
    flex-direction: row;
}

/*ASIDE*/

aside{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: calc(100vh - 80px);
    justify-content: space-between;
    background-color:#000000 ;
}

.home{
    width: 100%;;
}

.logo{
    margin-bottom: 30px;
}

.navigation{
    margin-bottom: 30px;
    font-size: 24px;
    margin-left: 15px;
    color: #7d7d7d;

}

.navigation ul{
    list-style: none;
}

.navigation ul li{
    margin-bottom: 15px;
}

.create{
    color: #7d7d7d;
}

.profile ul{
    width: 90%;
    margin-left: 15px;
    font-size: 24px;
    list-style: none;
    margin-bottom: 10px;
}

.profile ul li{
    margin-bottom: 15px;
}
.ico{
    font-size: 60px;
    vertical-align: middle;
}

.create ul li{
    margin-bottom: 15px;
}
.home img{
    vertical-align: middle;
    width: 300px;
    margin-top: 10px;
    margin-left: 10px;
}

.profile{
    width: 100%;
}

/*UPGRADE*/

.bar{
    position: fixed;
    height: 80px;
    width: calc(100vw - 400px);
    text-align: right;
    background-color: #080b12;
}

button{
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 40px;
    color: white;
    background-color: #080b12;
}

/*MAIN*/

.container{
    display: flex;
}

.album{
    margin-top: 80px;
    display: flex;
    overflow-y: scroll;
    width: calc(100vw - 400px);
    background-color: #141922;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
}

.navbar{
    width: 100%;
    height: 20px;
    font-size: 18px;
    margin-top: 5px;
    color: #7d7d7d;
}

.navbar ul{
    margin-top: 4px;
    text-align: center;
    list-style: none;
}

.navbar ul li{
    display: inline;
    margin-right: 10px;
}

.title{
    width: 100%;
    margin-top: 15px;
    margin-left: 20px;
    color: white;
    font-size: 30px;
}

.box-item{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}

.box{
    width: 100px;
    height: 100px;
    margin-right: 5px;
    margin-top: 10px;
    background-color: rebeccapurple;
}

/*FOOTER*/

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    margin-bottom: 0;
    background-color: #282828;
}

.riprod-sx{
    color: white;
}

.riprod-sx img{
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-left: 20px;
    vertical-align: middle;
}

.riprod-cent{
    color: white;
}

.riprod-cent ul{
    margin-bottom: 10px;
}

.riprod-cent ul li{
    display: inline;
    list-style: none;
    font-size: 40px;
    margin-right: 25px;
}

.fa-play-circle{
    font-size: 60px;
}
